<footer>
  <p>
    <a href="https://gitlab.com/mun-tonsi/sike-sona">sike sona</a>, a web ring for folks combining computing, social sciences, arts, and humanities.</br>Made with ♥ from 2023 by <a href="https://mun-tonsi.net/">Genevieve Clifford</a> / <a href="{% link attributions.md %}">Attributions (for fonts, etc.)</a>
  </p>
</footer>