<nav>
  <ul>
    {% for item in site.data.nav %}
      <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current" {% endif %}>
        {{ item.name }}</a></li>
    {% endfor %}
  </ul>
</nav>