<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} :: {{ page.title }}</title>
    <link rel="stylesheet" href="{{"/assets/css/styles.css" | prepend: site.baseurl_root}}">
  </head>
  <body>
    <h1 class="logo">{{ site.title }}</h1>
    <div id="page">
      {% include nav.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>