{% if page.previous %}
  {% assign prev = page.previous %}
{% else %}
  {% assign prev = site.websites | sort: 'date' | last %}
{% endif %}
{% if page.next %}
  {% assign next = page.next %}
{% else %}
  {% assign next = site.websites | sort: 'date' | first %}
{% endif %}
<div>
  <span id="prev"><a href="{{ prev.link }}">← {{ prev.title }}</a></span>
  <span id="index"><a href="{{site.url}}{{site.baseurl}}">{{ site.title }}</a></span>
  <span id="next"><a href="{{ next.link }}">{{ next.title }}</a></span>
</div>